body {
  font-family: 'Open Sans', sans-serif; /* Change 'Roboto' to your chosen font */
  max-width: 1200px; /* Set your desired line width */
  margin: 0 auto; /* Center the content if the viewport is wider than the max-width */
}

.image-container {
  text-align: center;
  margin-top: 50px;
}

.container {
  margin: auto;
  padding: 2% 10%;
}


input {
  margin-right: 6px;
}


.comment-section {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
}

.comment-content {
  margin-top: 5px;
}

.extra-small {
  font-size: 0.5em; /* Adjust this value as needed */
}
